.M-chart {
	&Tip {
		display:none;
		height:120px;
		text-align:center;
	}
	&Loading {
		text-indent: -999em;
		background: #ccc url('../images/grid_loading.gif') 50% 50% no-repeat;
		#lib > .opacity(40);
	}
	&Empty {
		font-size: 16px;
		line-height: 120px;
	}
}